<!-- <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<form th:action="@{/change_password}" method="post">
	enter new password<input type="text" name= "newpassword" placeholder= "enter your new password"/>
	
	<button type="submit">Change password</button>
	</form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Facebook</title>
	<link rel="stylesheet" th:href="@{/css/loginStyle.css}">
   
</head>
<body>
		<!-- login Page start -->
		<div class="loginsignup">
			<div class="container">
				<div class="row justify-content-between">
					
					<div class="content-right">

						<form th:action="@{/change_password}" method="post">



                            <br>
                            <br>
                            <br>
                            <div class="form-group">
                            <h3><label for="">Enter new password</label></h3>
                            
                            <input type="password" name= "newpassword" placeholder= "enter your new password"/>
                                
								
							</div>

                            
							<br />
							<br />
							<div class="create-btn">
								<input type="submit" value="Change password" class="btn"/>
							</div>


						</form>
						
						
						
						
					</div>
				</div>
			</div>
		</div>
		
</body>
</html>