<!-- <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<div th:if=${session.message}>
	<span th:text ="${session.message}"></span>

</div>

	<form th:action="@{/send-otp}" method="post">
		<input type="email" placeholder="Enter your email here" name="email"  required/>
		<button>Send OTP</button>
	</form>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Facebook</title>
	<link rel="stylesheet" th:href="@{/css/loginStyle.css}">
   
</head>
<body>
		<!-- login Page start -->
		<div class="loginsignup">
			<div class="container">
				<div class="row justify-content-between">
					
					<div class="content-right">

						<form th:action="@{/send-otp}" method="post">



                            <br>
                            <br>
                            <br>
                            <div class="form-group">
                                <input type="email" placeholder="Enter Your Email Address Here" name="email"  required/>
								
							</div>

                            
							<br />
							<br />
							<div class="create-btn">
								<input type="submit" value="Send OTP" class="btn"/>
							</div>


						</form>
						
					</div>
				</div>
			</div>
		</div>
		
</body>
</html>
