<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Project Details</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<center><h1>TCLD ROUND - 45</h1>
<h1>Enterprise Systems Analysis & Design - JEE (ESAD-JEE)</h1>

<br />
<br />

<table style="width:100%" class="table table-striped">
  <tr>
    <th><h1>ID</h1></th>
    <td><h1>1260926</h1></td>
  </tr>
 <tr>
    <th><h1>Name</h1></th>
    <td><h1>Rasheda Akter</h1></td>
  </tr>
    <tr>
    <th><h1>Project Name</h1></th>
    <td><h1>Social Media Platform</h1></td>
  </tr>
     <tr>
    <th><h1>Project Feature</h1></th>
    <td>
         <ul>
        <li><h1>Create User Account</h1></li>
        <li><h1>Post Service</h1></li>
        <li><h1>Like System</h1></li>
        <li><h1>Comment System</h1></li>
        <li><h1>Chat Service</h1></li>
        <li><h1>Password Changing System With OTP</h1></li>
        </ul>
         </td>
  </tr>
    
</table>
<a href="/user/index" class="btn btn-primary"><h1>Go To Project</h1></a>

</center>
</body>
</html>