<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <link rel="stylesheet" th:href="@{/css/profileStyle.css}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/brands.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <!-- <link rel="stylesheet" href="style.css" /> -->

    </head>
    <body>

        <main>
            <!-- <div id="device-bar-1">
                <button></button>
                <button></button>
                <button></button>
            </div> -->
            <header>
                <div class="tb">
                    <div class="td" id="logo">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </div>
                    <div class="td" id="search-form">
                        <form method="get" action="#">
                            <input type="text" placeholder="Search Facebook">
                            <button type="submit"><i class="material-icons">search</i></button>
                        </form>
                    </div>
                    <div class="td" id="f-name-l"><span th:text=${user.userName}></span></div>
                    <div class="td" id="i-links">
                        <div class="tb">
                            <!-- <div class="td" id="m-td">
                                <div class="tb">
                                    <span class="td"><i class="material-icons">person_add</i></span>
                                    <span class="td"><i class="material-icons">chat_bubble</i></span>
                                    <span class="td m-active"><i class="material-icons">notifications</i></span>
                                </div>
                            </div> -->
                            <div class="td">
                                <a href="#" id="p-link">
                                    <img th:src="@{'/images/'+${user.userImageUrl}}" >
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div id="profile-upper">
                <div id="profile-banner-image">
                    <img th:src= "@{/images/homeImg/bkI.jpg}" alt="Banner image">
                </div>
                <div id="profile-d">
                    <div id="profile-pic">
                        <img th:src="@{'/images/'+${user.userImageUrl}}" >    
                    </div>
                    <div id="u-name"><span th:text=${user.userName}></span></div>
                    <div class="tb" id="m-btns">
                        <div class="td">
                            <div class="m-btn"><i class="material-icons">format_list_bulleted</i><span>Activity log</span></div>
                        </div>
                        <div class="td">
                            <div class="m-btn"><i class="material-icons">lock</i><span>Privacy</span></div>
                        </div>
                    </div>
                    <div id="edit-profile"><i class="material-icons">camera_alt</i></div>
                </div>
                <div id="black-grd"></div>
            </div>
            <div id="main-content">
                <div class="tb">
                    <div class="td" id="l-col">
                    
   <!------------------------- about user div start--------------------------->  
                   
                        <div class="l-cnt">
                            <div class="cnt-label">
                                <i class="l-i" id="l-i-i"></i>
                                <span>About</span>
                                <div class="lb-action"><i class="material-icons">edit</i></div>
                            </div>
                            <div id="i-box">
                            
                            <h3><span th:text=${user.about}></span></h3>
                                <!-- <div id="intro-line">Web developer - UI</div>
                                <div id="u-occ">Developing awesome UIs at <a href="#">Google LLC</a> Bengaluru and inspiring other companies to do so :)</div>
                                <div id="u-loc"><i class="material-icons">location_on</i><a href="#">Bengaluru</a>, <a href="#">India</a></div> -->
                            </div>
                        </div>
                        
     <!------------------------- about user div end--------------------------->                     
                        
      <!--------------------------all img div start---------------------------->
      
                        <!-- <div class="l-cnt l-mrg">
                            <div class="cnt-label">
                                <i class="l-i" id="l-i-p"></i>
                                <span>Photos</span>
                                <div class="lb-action" id="b-i"><i class="material-icons">keyboard_arrow_down</i></div>
                            </div>
                            <div id="photos">
                                <div class="tb">
                                    <div class="tr">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td"></div>
                                    </div>
                                    <div class="tr">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td"></div>
                                    </div>
                                    <div class="tr">
                                        <div class="td"></div>
                                        <div class="td"></div>
                                        <div class="td"></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
       <!--------------------------all img div end---------------------------->                 
                        
                        
                        
                        
                        <div class="l-cnt l-mrg" >
                            <div class="cnt-label">
                                <i class="l-i" id="l-i-k"></i>
                                <span>Did You Know<i id="k-nm">1</i></span>
                            </div>
                            <div>
                                <div class="q-ad-c">
                                    <a href="#" class="q-ad">
                                        <img src="https://imagizer.imageshack.com/img923/1849/4TnLy1.png">
                                        <span>My favorite superhero is...</span>
                                    </a>
                                </div>
                                <div class="q-ad-c">
                                    <a href="#" class="q-ad" id="add_q">
                                        <i class="material-icons">add</i>
                                        <span>Add Answer</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="t-box">
                            <a href="#">Privacy</a> <a href="#">Terms</a> <a href="#">Advertising</a> <a href="#">Ad Choices</a> <a href="#">Cookies</a> <span id="t-more">More<i class="material-icons">arrow_drop_down</i></span>
                            <div id="cpy-nt">Facebook &copy; <span id="curr-year"></span></div>
                        </div>
                    </div>
                    <div class="td" id="m-col">
                    
                    
                    <!-- <form action="" th:object=$(post) enctype="multipart/form-data" method="POST"  th:action="@{/user/profile}"></form> -->
                    
                        <div class="m-mrg" id="p-tabs">
                            <div class="tb">
                                <div class="td">
                                    <div class="tb" id="p-tabs-m">
                                        <div class="td active"><i class="material-icons">av_timer</i><span>TIMELINE</span></div>
                                        <div class="td"><i class="material-icons">people</i><span>FRIENDS</span></div>
                                        <div class="td"><i class="material-icons">photo</i><span>PHOTOS</span></div>
                                        <div class="td"><i class="material-icons">explore</i><span>ABOUT</span></div>
                                        <div class="td"><i class="material-icons">archive</i><span>ARCHIVE</span></div>
                                    </div>
                                </div>
                                <div class="td" id="p-tab-m"><i class="material-icons">keyboard_arrow_down</i></div>
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        
                        <div class="m-mrg" id="composer">
                            <div id="c-tabs-cvr">
                                <div class="tb" id="c-tabs">
                                    <div class="td active"><i class="material-icons">subject</i><a th:href="@{/user/profile/post}">Make Post</a></div>
                                    <div class="td"><i class="material-icons">camera_enhance</i><a th:href="@{/user/profile/upload}">Update profile</a></div>
                                    <div class="td"><i class="material-icons">videocam</i><span>Live Video</span></div>
                                    <div class="td"><i class="material-icons">event</i><a th:href="@{/user/index}">Back to home page</a></div>
                                </div>
                            </div>
                            <div id="c-c-main">
                                <div class="tb">
                                    <div class="td" id="p-c-i"><img th:src="@{'/images/'+${user.userImageUrl}}"></div>
                                    <div class="td" id="c-inp">
                                        <input type="text" placeholder="What's on your mind?">
                                    </div>
                                </div>
                                <div id="insert_emoji"><i class="material-icons">insert_emoticon</i></div>
                            </div>
                        </div>
                        
    <!-------------------------post div start-------------------------->                    
                        <div th:each = "c :${post}" loading="lazy">
                            <div class="post">
                                <div class="tb">
                                    <a href="#" class="td p-p-pic"><img th:src="@{'/images/'+${user.userImageUrl}}"></a>
                                    <div class="td p-r-hdr">
                                        <div class="p-u-info">
                                        <h3><span th:text=${user.userName}></span></h3>
                                            <!-- <a href="#">Rajeev Singh</a> shared a memory with <a href="#">Himalaya Singh</a> --> 
                                        </div>
                                        <!-- <div class="p-dt">
                                            <i class="material-icons">calendar_today</i>
                                            <span>January 28, 2015</span>
                                        </div> -->
                                    </div>
                                    
                                    <!-- <div class="td p-opt"><i class="material-icons">keyboard_arrow_down</i></div> -->
                                    
                                    <a th:href="@{'/user/delete/'+${c.postId}}" class="td p-opt" type="button"><i class="material-icons">delete</i></a>
                                    
                                    <form method="post" th:action="@{'/user/update-post/'+${c.postId}}">
                                    <button class="td p-opt"><i class="material-icons">update</i></button>
                                    
                                    </form>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                </div>
                                <div class="p-u-info"> <p  th:text="${c.postDescreption}">Post</p></div>
                                
                                <a href="#" class="p-cnt-v">
                                    <!-- <img src="https://imagizer.imageshack.com/img923/8568/6LwtUa.jpg"> -->
                                    <img th:src="@{'/images/'+${c.postImgUrl}}" alt="" />
                                </a>
                                <div>
                                    <div class="p-acts">
                                        <div class="p-act like"><i class="material-icons">thumb_up_alt</i><span>0</span></div>
                                        <div class="p-act comment"><i class="material-icons">comment</i><span>0</span></div>
                                        <div class="p-act share"><i class="material-icons">reply</i></div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                        
     <!-------------------------post div end-------------------------->
                        
                        <div id="loading"><i class="material-icons">autorenew</i></div>
                    </div>
                    <div class="td" id="r-col">
                        <!-- <div id="chat-bar">
                            <div id="chat-lb"><i class="material-icons">contacts</i><span>Contacts</span></div>
                            <div id="cts">
                                <div class="on-ct active" th:each = "u :${user1}">
                                    <a href="#"><img th:src="@{'/images/'+${u.userImageUrl}}" alt="No images found"></a>
                                    
                                    <p th:text="${u.userName}"></p>
                                    
                                </div>
                               
                                
                                <div class="on-ct active">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
                                </div>
                                <div class="on-ct">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
                                </div>
                                <div class="on-ct active">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
                                </div>
                                <div class="on-ct active">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
                                </div>
                                <div class="on-ct">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
                                </div>
                                <div class="on-ct">
                                    <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
                                </div>
                                <div class="on-ct" id="ct-sett"><i class="material-icons">settings</i></div>
                                
                            </div>
                            
                            
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- <div id="device-bar-2"><i class="fab fa-apple"></i></div> -->
        </main> 
    </body>
</html>